{% extends "layout.html.twig" %}

{% block subtitle %}Pagination Sample{% endblock %}

{% block style_sheets %}
    <style type="text/css">
        a.sorted.sorted-asc:after {
            font-family: FontAwesome;
            content: " \f0d8";   /* fa-caret-up */
        }
        a.sorted.sorted-desc:after {
            font-family: FontAwesome;
            content: " \f0d7";   /* fa-caret-down */
        }
    </style>
{% endblock %}

{% block content %}
    <ul class="nav nav-tabs">
        <li><a href="{{ url('homepage') }}">Home</a></li>
        <li><a href="{{ url('form') }}">Form Sample</a></li>
        <li class="active"><a>Pagination Sample</a></li>
    </ul>

    <h3>Pagination Sample</h3>
    <hr/>

    <div class="pull-left">
        {{ knp_pagination_render(pagination) }}
    </div>
    <div class="pull-right">
        {{ knp_pagination_filter(pagination, {id: 'Id', value: 'Value'}) }}
    </div>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>{{ knp_pagination_sortable(pagination, 'Id', 'id') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Value', 'value') }}</th>
        </tr>
        </thead>
        <tbody>
        {% for row in pagination %}
            <tr>
                {% for item in row %}
                    <td>{{ item }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
