{% extends "layout.html.twig" %}

{% block subtitle %}Pagination Sample{% endblock %}

{% block content %}
    <ul class="nav nav-tabs">
        <li><a href="{{ url('homepage') }}">Home</a></li>
        <li class="active"><a>Pagination Sample</a></li>
    </ul>

    <h3>Pagination Sample</h3>
    <hr/>

    {{ pagination|raw }}

    <table class="table table-hover">
        <thead>
        <tr>
            {% set data = pagination.getPaginationData %}
            {% for key in pagination.0|keys|default([]) %}
                <th class="{% if key == sort %}sorted sorted-{{ direction.current }}{% endif %}">
                    <a href="{{ url('pagination', {page: data.current, size: data.numItemsPerPage, sort: key, direction: direction.opposite}) }}">{{ key|humanize }}</a>
                </th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for item in pagination %}
            <tr>
                {% for value in item %}
                    <td>{{ value }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
